<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Peta prout</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <style>
    .button-black {
      background-color: black !important;
      border-color: black !important;
    }
    .button-black.button-clear,
    .button-black.button-outline {
      background-color: transparent !important;
      color: black !important;
    }
    .button-black.button-clear {
      border-color: transparent !important;
    }

    </style>
</head>
<body>

    {{{body}}}

</body>
</html>
